## Lista de dados

### Listas

In [2]:
# Criando uma lista chamada animais
animais = [1,2,3]
animais

[1, 2, 3]

In [3]:
animais = ["Cachorro", "gato", 12345, 6.5]
animais

['Cachorro', 'gato', 12345, 6.5]

In [4]:
# Imprimindo o primeiro elemento da lista
animais[0]

'Cachorro'

In [5]:
# Imprimindo o 4 elemento da lista
animais[3]

6.5

In [6]:
# Substituindo o primeiro elemento da lista
animais[0] = "papagaio"
animais

['papagaio', 'gato', 12345, 6.5]

In [7]:
# Removendo gato da lista
animais.remove("gato")
animais

['papagaio', 12345, 6.5]

In [8]:
# Tamanho da nossa lista (quantos elementos)
len(animais)

3

In [9]:
# O elemento pertence a lista
"gato" in animais

False

In [10]:
# Nova lista
lista = [500, 30, 300, 80, 10]

In [11]:
# Maior número da lista
max(lista)

500

In [12]:
# Menor número da lista
min(lista)

10

In [13]:
# Adicionar um elemento a lista animais
animais.append("Leão")
animais

['papagaio', 12345, 6.5, 'Leão']

In [14]:
# Adicionar mais de um elemento a lista animais
animais.extend(["Cobra", 6])
animais

['papagaio', 12345, 6.5, 'Leão', 'Cobra', 6]

In [16]:
# Descobri quantas vez repete um valor na lista
animais.count("Cobra")

1

In [18]:
# Ordenar a lista do menor para o maior
lista.sort()
lista

[10, 30, 80, 300, 500]

### Tuplas

In [19]:
# As tuplas usam parâmetros como sintaxe
tp = ("Bananas", "Maçã", 10, 50)
tp

('Bananas', 'Maçã', 10, 50)

In [20]:
# Retornando o primeiro elemento
tp[0]

'Bananas'

In [21]:
# Diferença entre lista e duplas, é que as duplas são imutável, o que quer dizer que não podemos alterar os seus elementos
tp[0] = "Laranja"

TypeError: 'tuple' object does not support item assignment

In [22]:
tp.count("Maçã")

1

In [23]:
tp[0:2]

('Bananas', 'Maçã')

### Dicionários

In [24]:
# Para criar um dicionário utilizamos as {}, além de chave e valor
dc = {"Maçã":20, "Banana":10, "Laranja":15, "Uva":5}
dc

{'Maçã': 20, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [25]:
# Acessando o valor de um dicionário através da chave
dc["Maçã"]

20

In [26]:
# Atualizando o valor da Maçã
dc["Maçã"] = 25
dc

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [27]:
# Retornando todas as chaves do dicionário
dc.keys()

dict_keys(['Maçã', 'Banana', 'Laranja', 'Uva'])

In [28]:
# Retornando os valores do dicionário
dc.values()

dict_values([25, 10, 15, 5])

In [ ]:
# Verificando se já existe um chave no dicionário e caso não exista inserir
dc.setdefault("Limão", 22)
dc